@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./vars.scss";

html, body, .root {
    height: 100%;
}

body {
    font-family: sans-serif;
    color: $dark-grey;
    font-size: 16px;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: $base-spacing calc(#{$base-spacing} * 2);
}

h1, h2 {
    font-family: 'Roboto Mono', sans-serif;
}

label {
    padding-right: $base-spacing;
}

input {
    padding: $base-spacing calc(#{$base-spacing} * 2);
}

table {
    border-collapse: collapse;
    margin: $base-spacing auto;
}

thead {
    border-bottom: 2px solid $gulf-blue;
}

th, td {
    min-width: min-content;
    padding: $base-spacing calc(#{$base-spacing} * 2);
}
