// Colours
$white: #ffffff;
$black: #000000;
$dark-grey: #434854;
$gulf-blue: #03045e;
$deep-cerulean: #0077b6;
$cerulean: #00b4d8;
$spray: #90e0ef;
$humming-bird: #caf0f8;

// Box model
$base-spacing: 8px;