@import "styles/vars.scss";

.LoadingSpinner {
  border: 5px solid $deep-cerulean;
  border-top: 5px solid $cerulean;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: loading 1s linear infinite;
  margin: $base-spacing auto;
}

@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
